.button-group
  text-align center
  margin-top 20px
  .button:first-child
    margin-right 20px

.button
  margin: 5px auto 20px
  display: inline-block
  text-decoration none
  position: relative;
  padding: 10px 20px;
  background-color: #ccc;
  font-size: 14px;
  text-transform: uppercase;
  color: #f0f0f0;
  text-align: center;
  cursor: pointer;
  border none
  border-radius: 6px;
  outline none
  text-shadow 1px 1px 2px rgba(0, 0, 0, 0.8)
  box-shadow 5px 5px 0px (gray - 10%)
  transition: all 0.5 linear;
  font-weight 700

  &:hover
    background-color: gray + 10%;

  &:active
    top: 5px;
    left 5px
    box-shadow 0px 0px 0px gray - 10%

.button-orange
  background-color orange
  box-shadow 5px 5px 0px orange - 30%
  &:hover
    background-color orange + 10%
  &:active
    box-shadow 0px 0px 0px orange - 30%

.button-pink
  background-color pink
  box-shadow 5px 5px 0px pink - 30%
  &:hover
    background-color pink + 10%
  &:active
    box-shadow 0px 0px 0px pink - 30%

.button-green
  background-color green
  box-shadow 5px 5px 0px green - 30%
  &:hover
    background-color green + 10%
  &:active
    box-shadow 0px 0px 0px green - 30%

.button-yellow
  background-color yellow
  box-shadow 5px 5px 0px yellow - 30%
  color #333
  &:hover
    background-color yellow + 10%
  &:active
    box-shadow 0px 0px 0px yellow - 30%
