.main
  display block
  height 100%

.content
  center(960px)
  +below(rupture.desktop-cutoff)
    padding 0 10px

.full-image
  border-top 1px solid #ccc
  border-bottom 1px solid #ccc
  line-height 0
  img
    width 100%
    height auto
