.container
  height 100%

.nav
  fixed 0 0 auto 0
  background #fff
  box-shadow 1px 1px 15px rgba(0,0,0,0.3)
  border-bottom 1px solid #ccc
  text-align center
  z-index 999
  .fa-bars
    display none
  +below(rupture.desktop-cutoff)
    fixed 0 auto 0 0
    transition transform 0.5s
    transform translate(-205px, 0)
    &.is-open
      transform translate(0, 0)
    .fa-bars
      display block
      absolute 10px -60px auto auto
      color #fff
      text-shadow 1px 1px 2px black
      font-size rem(40px)
      padding 10px
      &:active
        color orange

    .nav-link
      text-align left
      border-bottom 1px solid #ccc
      display block
      &.is-active, &:hover
        border-bottom 1px solid #fff
        background orange
        color #fff


  +desktop()
    ul
      center(960px)

.nav-link
  display inline-block
  padding 20px 15px
  text-align center
  color #000
  font-size rem(16px)
  a
    color inherit
    text-decoration none

  &.is-active, &:hover
    border-bottom 5px solid orange
    color orange
