.lista
  column(1/2)
  +below(rupture.desktop-cutoff)
    stack()
    pagging-bottom 1rem
    a
      display block
      text-align center
      img
        width 150px
  img
    width 200px
.vaquinha
  column(1/2)
  +below(rupture.desktop-cutoff)
    stack()
